img{
    width: 200px;
    border-radius: 50%;
    
}
li{font-weight: bold
}
body{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: lightblue;
padding-left: 20px;
}
